<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogApp</title>

    <!-- CSS STYLE -->
    <link rel="stylesheet" href="/style/stylesheet.css">

    <!-- BOOTSTRAP STYLE -->
    <link rel="stylesheet" href="/bootstrapStyle/bootstrap.min.css">

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="/bootstrapIcons/bootstrap-icons.css"-->

    <!-- BOOTSTRAP SCRIPT -->
    <script src="/bootstrapScript/bootstrap.bundle.min.js"></script>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/style/fontawesome.css">
    <link rel="stylesheet" href="/style/templatemo-woox-travel.css">
    <link rel="stylesheet" href="/style/owl.css">
    <link rel="stylesheet" href="/style/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>


</head>

<body>
    {{{body}}}
</body>

</html>